body 
{
  font-family: sans-serif;
  background-color: #1a1a1a;
  color: white;
  height: 100vh;
}

#header
{
  margin: 2% 0.5%;
  padding:0.5% 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

#main
{
  display:flex;
  flex-wrap: nowrap;
}

#logo
{
  margin-top:2%;
  width:60%;
  height: 60%;
}

#searchbar 
{
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

#search-icon 
{
  position: absolute;
  left: 10px;
  top: 50%; 
  transform: translateY(-50%); 
  width: 20px; 
  pointer-events: none; 
}

#search-input 
{
  width: 100%;
  padding: 5px 10px 5px 30px;
  height: 35px; 
  background-color: rgba(160, 160, 160, 1);
  border: solid 1px black;
  border-radius: 8px;
  box-sizing: border-box; 
}

#search-input::placeholder 
{
  color: rgba(76, 76, 76, 1);
  text-align: center;
}


#login
{
  background-color: #FFB947;
  padding: 0.5% 1.5%;
  border: solid black 1px;
  border-radius: 8.5%;
  cursor: pointer;
  font-weight: bolder;
  color: white;
}

#sidebar
{
  margin:2% 1.25%;
  display:flex;
  flex-direction: column;
  width: 15%;
  padding: 1.5%;  
  height:100%;
  gap: 40px;
}


#sidebar img
{
  width:90%;
  cursor: pointer;
}

#content
{
  display:flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  height: 100vh;
}

#content::-webkit-scrollbar
{
  display: none;
}

#card 
{
  width:45%;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 5%;
}

.user-info 
{
  display: flex;
  align-items: center;
}

.user-info img 
{
  padding: 3% 0%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 5px;
}

.art
{
  width: 100%;
  border-radius: 2.5%;
}

.desc
{
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.art-details 
{
  margin-top: 10px;
}

.actions 
{
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.action-bt  
{
  width: 30%;
  height: 30%;
  margin-right: 15%;
  cursor: pointer;
}

#buy:hover
{
  cursor:pointer;
}

#sidecontent
{
  display:flex;
  flex-direction: column;
  width: 15%; 
  margin-right: 3%;
}

.tag
{
  padding: 2%;
  background-color: rgba(160,160,160,0.3);
  display:flex;
  align-items: center;
  gap: 4%;
  border-radius: 8px;
  flex-wrap: nowrap;
  margin-bottom: 3%;
}

#tag img
{
  width: 18.5%;
  border-radius: 50%;
}

#picgrid
{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2%;
}

#picgrid img
{
  width: 30%;
}