body 
{
    font-family: sans-serif;
    background-color: #1a1a1a;
    color: white;
    height: 100vh;
}

#header
{
    margin: 0 5px 0;
    padding:0.5% 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

#logo
{
    margin-top:2%;
    width:65%;
    height: 65%;
}

#searchbar {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

#search-icon {
  position: absolute;
  left: 10px;
  top: 50%; 
  transform: translateY(-50%); 
  width: 20px; 
  pointer-events: none; 
}

#search-input {
  width: 100%;
  padding: 5px 10px 5px 30px;
  height: 35px; 
  background-color: rgba(160, 160, 160, 1);
  border: solid 1px black;
  border-radius: 8px;
  box-sizing: border-box; 
}

#search-input::placeholder {
  color: rgba(76, 76, 76, 1);
  text-align: center;
}


#login
{
    background-color: #FFB947;
    padding: 0.5% 1.5%;
    border: solid black 1px;
    border-radius: 8.5%;
}
